In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Count1.csv')

In [4]:
df

,Model_Year,BMW,CHRYSLER,FISKER,KIA,MERCEDES-BENZ,MINI,PORSCHE,SUBARU,TESLA,VOLVO,WHEEGO ELECTRIC CARS
0,1998,0,0,0,0,0,0,0,0,0,0,0
1,2002,0,0,0,0,0,0,0,0,0,0,0
2,1997,0,0,0,0,0,0,0,0,0,0,0
3,2000,0,0,0,0,0,0,0,0,0,0,0
4,1999,0,0,0,0,0,0,0,0,0,0,0
5,2010,0,0,0,0,0,0,0,0,21,0,3
6,2008,0,0,0,0,0,0,0,0,21,0,0
7,2003,0,0,0,0,0,0,0,0,0,0,0
8,2024,491,48,0,24,3,71,11,0,0,120,0
9,2011,0,0,0,0,0,0,0,0,6,0,0
10,2014,439,0,0,0,26,0,11,0,662,0,0
11,2016,380,0,0,392,36,0,76,0,1622,105,0
12,2015,395,0,0,21,23,0,35,0,1089,0,0
13,2012,0,0,16,0,0,0,0,0,129,0,0
14,2017,670,88,0,201,42,0,67,0,1642,110,0
15,2020,162,287,0,532,31,3,162,0,7075,200,0
16,2013,0,0,0,0,0,0,0,0,768,0,0
17,2018,727,554,0,308,47,56,76,0,7892,229,0
18,2021,659,511,0,76,0,136,179,0,10945,657,0
19,2023,1689,868,1,2448,689,222,160,625,22117,1121,0
20,2019,322,117,0,674,143,101,72,65,4654,197,0
21,2022,908,386,0,2078,149,232,216,0,13802,1007,0

In [6]:
selected_rows = df[df['Model_Year'] > 2013]

# Sort the DataFrame based on the 'Model_year' column
sorted_rows = selected_rows.sort_values(by='Model_Year')

In [8]:
sorted_rows

,Model_Year,BMW,CHRYSLER,FISKER,KIA,MERCEDES-BENZ,MINI,PORSCHE,SUBARU,TESLA,VOLVO,WHEEGO ELECTRIC CARS
10,2014,439,0,0,0,26,0,11,0,662,0,0
12,2015,395,0,0,21,23,0,35,0,1089,0,0
11,2016,380,0,0,392,36,0,76,0,1622,105,0
14,2017,670,88,0,201,42,0,67,0,1642,110,0
17,2018,727,554,0,308,47,56,76,0,7892,229,0
20,2019,322,117,0,674,143,101,72,65,4654,197,0
15,2020,162,287,0,532,31,3,162,0,7075,200,0
18,2021,659,511,0,76,0,136,179,0,10945,657,0
21,2022,908,386,0,2078,149,232,216,0,13802,1007,0
19,2023,1689,868,1,2448,689,222,160,625,22117,1121,0
8,2024,491,48,0,24,3,71,11,0,0,120,0

In [9]:
sorted_rows.to_csv('BarRace')